<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="hotel index">
  <h2>Hotel List</h2>

  <%= link_to("Add New Hotel", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="Hotel list">
    <tr class="header">
      <th>id</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    <% @hotels.each do |hotel| %>
    <tr>
      <td><%= hotel.id %></td>
      <td><%= hotel.hotel_name %>&nbsp;</td>
      <td><%= hotel.contact_number1 %>&nbsp;</td>
      <td class="actions"> &nbsp;
        <%= link_to("Show", {:action => 'show', :id => hotel.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => hotel.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => hotel.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>